/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.game-container {
    display: flex;
    align-items: center;
}

.ai-container, .user-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.board-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

table {
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    background-color: #f9f9f9;
}

td:hover {
    background-color: #e0e0e0;
}

.black, .white {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.chat-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

#chat-box {
    width: 400px;
    height: 150px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 10px;
}
